<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../layui/css/layui.css" media="all">
    <style>
        .formContainer{
            padding: 10px 60px 0 60px;
        }
        .layui-form{
            margin:0 auto;
        }
    </style>
</head>
<body>
<div class="formContainer">
    <form class="layui-form layui-form-pane">

        <div class="layui-form-item">
            <label class="layui-form-label"><i class="layui-icon">&#xe66f;</i> 用户名称</label>
            <div class="layui-input-block">
                <input type="text" name="username" id="username" required lay-verify="required" placeholder="请输入用户名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">旧密码</label>
            <div class="layui-input-inline">
                <input type="password" name="oldPwd" id="password" required lay-verify="required" placeholder="请输入旧密码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password" name="newPwd" id="passwordF" required lay-verify="required" placeholder="请输入新密码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
                <input type="password" name="passwordS" id="passwordS" onblur="checkPwd()" required lay-verify="required" placeholder="请再次输入新密码" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux" id="pwdTip" style="color: red !important;"></div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo"><i class="layui-icon">&#xe605;</i> 立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe669;</i> 重置</button>
            </div>
        </div>

    </form>
</div>
<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../layui/layui.js"></script>
<script>
    var username = sessionStorage.getItem("username");
    var userId = sessionStorage.getItem('userId');
    console.log(userId);
    $('#username').val(username);
    var passwordF = document.getElementById("passwordF");
    var passwordS = document.getElementById("passwordS");
    var pwdTip = document.getElementById("pwdTip");

    layui.use('form', function() {
        var form = layui.form;
        form.on('submit(formDemo)', function(data) {
            console.log(data.field);
            if (passwordF.value != passwordS.value){
                return false;
            }
            $.ajax({
                type:'POST',
                url:'http://120.100.79.1:7000/api/v1/user/user/modifyPwd',
                data:{
                    _method:'put',
                    userId:userId,
                    oldPwd:data.field.oldPwd,
                    newPwd:data.field.newPwd
                },
                success:function (res) {
                    console.log(res);
                    if (res.status == "200") {
                        layer.msg(res.msg, {
                            icon: 6,
                            time: 1500
                        });
                    } else {
                        layer.msg(res.msg, {
                            icon: 5,
                            time: 1500
                        });
                    }
                }
            });
            return false;
        });
    });

    function checkPwd() {
        if (passwordS.value == "") {
            pwdTip.innerText = "请输入密码";
        } else if (passwordF.value != passwordS.value) {
            pwdTip.innerText = "两次密码输入不一致";
        } else {
            pwdTip.innerHTML = '<i class="layui-icon" id="errTip" style="color:green !important">&#xe605;</i>'
        }
    }
</script>
</body>
</html>
