<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../../layui/css/layui.css" media="all">
		<style>
			.formContainer{
				padding: 10px 60px 0 60px;
			}
			.layui-form{
				margin:0 auto;
			}
		</style>
	</head>
	<body>
		<div class="formContainer">
		<form class="layui-form layui-form-pane">
			
			<div class="layui-form-item">
				<label class="layui-form-label"><i class="layui-icon">&#xe68e;</i> 公司名称</label>
				<div class="layui-input-block">
					<input type="text" name="name" id="name" required lay-verify="required" placeholder="请输入用户名称" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"><i class="layui-icon">&#xe678;</i> 公司电话</label>
				<div class="layui-input-inline">
					<input type="number" name="phone" id="phone" required lay-verify="required" placeholder="请输入联系方式" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-form-mid layui-word-aux">请输入有效的电话号码</div>
			</div>		

			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label"><i class="layui-icon">&#xe60a;</i> 公司描述</label>
				<div class="layui-input-block">
					<textarea name="description" id="description" placeholder="请输入内容" class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label"><i class="layui-icon">&#xe60a;</i> 公司地址</label>
				<div class="layui-input-block">
					<textarea name="address" id="address" placeholder="请输入内容" class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="formDemo"><i class="layui-icon">&#xe605;</i> 立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe669;</i> 重置</button>

				</div>
			</div>
			<!--<div class="layui-form-item" style="visibility: hidden;">
				<label class="layui-form-label"><i class="layui-icon">&#xe68e;</i> 公司id</label>
				<div class="layui-input-block">
					<input type="text" name="id" id="id" required lay-verify="required"   class="layui-input">
				</div>
			</div>-->
		</form>
		</div>
		<script src="../../js/jquery-3.3.1.min.js"></script>
		<script src="../../layui/layui.js"></script>
		<script>
			var curId = sessionStorage.getItem('comId');
			$.get('http://localhost:7000/api/v1/user/company/'+curId,function(res){
				//console.log(res);
				//$('#id').val(res.data[0].id);
				$('#name').val(res.data[0].name);
				$('#phone').val(res.data[0].phone);
				$('#description').val(res.data[0].description);
				$('#address').val(res.data[0].address);
			});
			//sessionStorage.removeItem('comId');

			layui.use('form', function() {
				var form = layui.form;
				form.on('submit(formDemo)', function(data) {
					//console.log(JSON.stringify(data.field));

					$.ajax({
						url:"http://localhost:7000/api/v1/user/company/"+curId,
						type:"POST",
						data:{
							_method:'put',
							name:data.field.name,
							description:data.field.description,
							phone:data.field.phone,
							address:data.field.address
						},
						success:function(data){
							console.log(data);
							if (data.status == "200") {
								layer.msg(data.msg, {
									icon: 6,
									time: 1500
								});
							} else {
								layer.msg(data.msg, {
									icon: 5,
									time: 1500
								});
							}
						},
						error:function(err){
							console.log(err);
						}
						
					});
					return false;
				});
			});
		</script>
	</body>
</html>
