<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../layui/css/layui.css" media="all">
    <style>
        .formContainer{
            padding: 10px 60px 0 60px;
        }
        .layui-form{
            margin:0 auto;
        }
    </style>
</head>
<body>
<div class="formContainer">
    <div class="layui-form layui-form-pane" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100%;font-size: 20px;"><i class="layui-icon" style="font-size: 20px;">&#xe66f;</i>新增权限</label>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户权限</label>
            <div class="layui-input-inline">
                <input type="text" name="rulename" id="rulename"  required lay-verify="required" placeholder="请输入权限名称"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-inline">
                <input type="text" name="description" required lay-verify="required" placeholder="请输入描述" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-inline">
                <input type="text" name="type" required lay-verify="required" placeholder="请输入类型" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限标志</label>
            <div class="layui-input-inline">
                <input type="text" name="permissions" required lay-verify="required" placeholder="请输入权限标志" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">url</label>
            <div class="layui-input-inline">
                <input type="text" name="url" required lay-verify="required" placeholder="请输入url" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-inline">
                <input type="text" name="ordernum" required lay-verify="required" placeholder="请输入排序" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">父级id</label>
            <div class="layui-input-inline">
                <select id="pid" name="pid" lay-verify="required">
                    <option value="">选择父级id</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo"><i class="layui-icon">&#xe605;</i> 立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe669;</i> 重置</button>
                <button class="layui-btn layui-btn-primary" onclick="window.history.back(-1)"><i class="layui-icon">&#xe65c;</i> 返回上一页面</button>
            </div>
        </div>
    </div>
</div>
<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../layui/layui.js"></script>
<script>

    $.ajax({
        type: 'GET',
        url: 'http://120.79.100.1:7000/api/v1/user/rules',
        async:false,
        success:function (res) {
            console.log(res);
            var data = res.data.list;
            var pidS =[];
            for (var i = 0; i < data.length; i++) {
                pidS.push(data[i].pid);
            }
            var oPidS = arrRemove(pidS);
            for (var j = 0; j < oPidS.length; j++) {
                $('#pid').append('<option value="'+oPidS[j]+'">'+oPidS[j]+'</option>');
            }
        }
    });
    layui.use('form', function() {
        var form = layui.form;
        form.on('submit(formDemo)', function(data) {
            console.log(data.field);
            $.ajax({
                url:"http://120.79.100.1:7000/api/v1/user/rule",
                type:"POST",
                data:{
                    rulename:data.field.rulename,
                    description:data.field.description,
                    type:data.field.type,
                    permissions:data.field.permissions,
                    url:data.field.url,
                    ordernum:data.field.ordernum,
                    pid:data.field.pid,
                },
                success:function(res){
                    //console.log(data);
                    if (res.status == "200") {
                        layer.msg(res.msg, {
                            icon: 6,
                            time: 1500
                        }, function() {
                            window.history.back(-1);
                            window.location.replace(document.referrer);
                        });
                    } else {
                        layer.msg(res.msg, {
                            icon: 5,
                            time: 1500
                        });
                    }
                },
                error:function(err){
                    console.log(err);
                }

            });
            return false;
        });
    });

    //数组去重函数
    function arrRemove(arr1) {
        var newArr=[];
        for (var i = 0; i < arr1.length; i++) {
            if (newArr.indexOf(arr1[i]) == -1){
                newArr.push(arr1[i]);
            }
        }
        return newArr;
    }

</script>

</body>
</html>
