<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../../layui/css/layui.css" media="all">
		<style>
			.formContainer{
				padding: 10px 60px 0 60px;
			}
			.layui-form{
				margin:0 auto;
			}
		</style>
	</head>
	<body>
		<div class="formContainer">
			<div class="layui-form layui-form-pane" lay-filter="form">
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 100%;font-size: 20px;"><i class="layui-icon" style="font-size: 20px;">&#xe66f;</i>
						新增用户</label>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">用户名称</label>
					<div class="layui-input-inline">
						<input type="text" name="username" id="username" onblur="checkUser()" required lay-verify="required" placeholder="请输入用户名称"
						 class="layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux" id="userTip"></div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">用户密码</label>
					<div class="layui-input-inline">
						<input type="password" name="pwd" id="passwordF" required lay-verify="required" placeholder="请输入用户密码" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">确认密码</label>
					<div class="layui-input-inline">
						<input type="password" name="passwordS" id="passwordS" onblur="checkPwd()" required lay-verify="required"
						 placeholder="请再次输入用户密码" class="layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux" id="pwdTip" style="color: red !important;"></div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">员工名字</label>
					<div class="layui-input-inline">
						<input type="text" name="name" required lay-verify="required" placeholder="请输入员工名字" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">年龄</label>
					<div class="layui-input-inline">
						<input type="number" name="age" required lay-verify="required" placeholder="请输入年龄" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">联系方式</label>
					<div class="layui-input-inline">
						<input type="number" name="phone" required lay-verify="required|phone|number" placeholder="请输入联系方式" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item" pane>
					<label class="layui-form-label">性别</label>
					<div class="layui-input-inline">
						<input type="radio" name="sex" value="0" title="男">
						<input type="radio" name="sex" value="1" title="女">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">住址</label>
					<div class="layui-input-inline">
						<input type="text" name="address" required lay-verify="required" placeholder="请输入住址" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">邮箱地址</label>
					<div class="layui-input-inline">
						<input type="email" name="email" required lay-verify="required" placeholder="请输入邮箱地址" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">职位</label>
					<div class="layui-input-inline">
						<input type="text" name="job" required lay-verify="required" placeholder="请职位" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">选择公司</label>
					<div class="layui-input-inline">
						<select id="coms" name="comid" lay-verify="required" lay-filter="company">
							<option value="">选择公司</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">选择部门</label>
					<div class="layui-input-inline">
						<select id="deps" name="deptid" lay-verify="required" lay-filter="department">
							<option value="">选择部门</option>
						</select>
					</div>
				</div>

				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="formDemo"><i class="layui-icon">&#xe605;</i> 立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe669;</i> 重置</button>
						<button class="layui-btn layui-btn-primary" onclick="window.history.back(-1)"><i class="layui-icon">&#xe65c;</i> 返回上一页面</button>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/jquery-3.3.1.min.js"></script>
		<script src="../../layui/layui.js"></script>
		<script>
			$.get("http://localhost:7000/api/v1/user/companys", function(res) {
				var data = res.data.list;
				//console.log(data);
				for (var i = 0; i < data.length; i++) {
					//console.log(data[i].id,data[i].name);
					$("#coms").append("<option value='" + data[i].id + "'>" + data[i].name + "</option>");
				}
			})

			layui.use(['form', 'layer'], function() {
				var form = layui.form;
				var layer = layui.layer;

				form.on('select(company)', function(res) {
					//console.log(res);
					setTimeout(function() {
						//console.log($("#deps option"));
						$("#deps option").remove();
					}, 100)

					$.get('http://localhost:7000/api/v1/user/comDept?comId=' + res.value, function(res) {
						//console.log(res)
						for (var i = 0; i < res.data.length; i++) {
							//console.log(data[i].id,data[i].name);
							$("#deps").append("<option value='" + res.data[i].id + "'>" + res.data[i].name + "</option>");
							form.render('select');
						}
					})
				})

				form.on('submit(formDemo)', function(data) {
					console.log(JSON.stringify(data.field));
					$.post("http://localhost:7000/api/v1/user/user", {
						username: data.field.username,
						pwd: data.field.pwd,
						avatarurl: "1",
						status: "1",
						name: data.field.name,
						phone: data.field.phone,
						age: data.field.age,
						sex: data.field.sex,
						address: data.field.address,
						email: data.field.email,
						job: data.field.job,
						deptid: data.field.deptid,
						comid: data.field.comid
					}, function(data) {
						console.log(data);
						if (data.status == "200") {
							layer.msg(data.msg, {
								icon: 6,
								time: 1500
							}, function() {
								window.history.back(-1);
								window.location.replace(document.referrer);
							});
						} else {
							layer.msg(data.msg, {
								icon: 5,
								time: 1500
							});
						}
					})
					return false;
				});

			});
		</script>
		<script>
			function checkUser() {
				var username = document.getElementById('username');
				var userTip = document.getElementById('userTip');
				$.get("http://localhost:7000/api/v1/user/user/judgeUserName?username=" + username.value, function(data) {
					//console.log(data);
					userTip.innerText = data.msg;
					if (data.msg == '用户名可用') {
						userTip.innerHTML = '<i class="layui-icon" style="color:green !important">&#xe605; 用户名可用</i>'
					}
					if (data.msg == '用户名已存在') {
						userTip.innerHTML = '<i class="layui-icon" style="color:red !important">&#x1006; 用户名已存在</i>'
					}
				})
			}

			function checkPwd() {
				var passwordF = document.getElementById("passwordF");
				var passwordS = document.getElementById("passwordS");
				var pwdTip = document.getElementById("pwdTip");
				if (passwordS.value == "") {
					pwdTip.innerText = "请输入密码";
				} else if (passwordF.value != passwordS.value) {
					pwdTip.innerText = "两次密码输入不一致";
				} else {
					pwdTip.innerHTML = '<i class="layui-icon" style="color:green !important">&#xe605;</i>'
				}
			}
		</script>
	</body>
</html>
