<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beidou.logger.dao.SysLogMapper">
  <resultMap id="BaseResultMap" type="com.beidou.logger.entity.SysLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="requestMethod" jdbcType="VARCHAR" property="requestmethod" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="time" jdbcType="BIGINT" property="time" />
    <result column="exception" jdbcType="LONGVARCHAR" property="exception" />
    <result column="result" jdbcType="LONGVARCHAR" property="result" />
    <result column="createDate" jdbcType="VARCHAR" property="createdate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, ip, operation, url, requestMethod, method, params, time, exception ,result,createDate
  </sql>

  <insert id="insert" parameterType="com.beidou.logger.entity.SysLog">
    insert into tb_syslog (id, username, ip, 
      requestMethod, url, operation, 
      method, params, time, 
      exception, result, createDate
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{requestmethod,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{operation,jdbcType=VARCHAR}, 
      #{method,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, #{time,jdbcType=BIGINT}, 
      #{exception,jdbcType=LONGVARCHAR}, #{result,jdbcType=LONGVARCHAR}, #{createdate,jdbcType=VARCHAR}
      )
  </insert>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_syslog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_syslog
    order by id desc
  </select>
  <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_syslog
    where username=#{username,jdbcType=VARCHAR} order by id desc
  </select>
  <select id="searchByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_syslog
    where locate(#{username},username) order by id desc
  </select>

</mapper>