<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>报表导出</title>
		<link rel="stylesheet" href="layui/css/layui.css" media="all">
	</head>
	<body>
		<table id="demo"></table>
		<div id="inputgrup" style="display: none;">
			<input type="text" class="layui-input" style="display: inline-block;width: 300px;" id="test1" placeholder="选择时间">
			<button class="layui-btn" style="margin-left:15px;position:absolute">
				<i class="layui-icon">&#xe615;</i>
				查找
			</button>
		</div>
		
		<script src="layui/layui.js"></script>
		<script>
			layui.use(['table', 'laydate'], function() {
				var table = layui.table;
				var laydate = layui.laydate;

				//执行一个laydate实例
				laydate.render({
					elem: '#test1',
					type: 'datetime',
					range: true,
					done: function(value, date, endDate) {
						console.log(value);
						console.log(date);
						console.log(endDate);
					}
				});
				//第一个实例
				table.render({
					elem: '#demo',
					url: 'datas.json',
					toolbar: '#inputgrup',
					cols: [ //表头
						[{field: 'name',title: '终端号',width: 150},
						 {field: 'time',title: '时间',sort: true,width: 200},
						 {field: 'position',title: '地址',width: 600}
						]
					],
					page: true,
					limit: 10
				});
			});
		</script>
	</body>
</html>
