<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>主页</title>
		<link rel="stylesheet" href="layui/css/layui.css" media="all">
		<style>
			.header{
				height: 50px;
				line-height: 50px;
				text-align: center;
				background-color: white;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<span style="font-size: 20px;"> 登录成功 </span>
			</div>
			<div class="body">
				<table id="mainTable"></table>
			</div>
		</div>
        <script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/app.js"></script>
		<script src="layui/layui.js"></script>
		<script>
			var username = sessionStorage.getItem('username');

			layui.use(['element', 'table'], function() {
				var element = layui.element;
				var table = layui.table;

				table.render({
					elem: '#mainTable',
					url: app.serverUrl+'/api/v2/logger/userSysLogs?username='+username,
					cols: [[
                        {field: 'id',title: 'id',width: '5%'},
                        {field: 'username',title: '用户名',width: '10%'},
                        {field: 'ip',title: 'ip',width: '10%'},
                        {field: 'operation',title: '操作',width: '15%'},
                        {field: 'url',title: 'url',width: '15%'},
                        {field: 'requestmethod',title: '请求方式',width: '7%'},
                        {field: 'params',title: '参数',width: '15%'},
                        {field: 'time',title: '耗时（ms）',width: '8%'},
                        {field: 'createdate',title: '创建时间',width: '15%'}
					]],
					page: true,
					limit:20,
					parseData:function(res){
						//console.log(res);
						return {
							"code": res.status,
							"msg": res.msg,
							"count": res.data.total,
							"data": res.data.list
						};
					},
					response: {
						statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
					},
					request:{
						pageName:'pageNum',
						limitName:'pageSize'
					}
				})
			});
		</script>
	</body>
</html>
