<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../layui/css/layui.css" media="all">
		<style>
			.header{
				position: relative;
				height: 50px;
				line-height: 50px;
				padding: 10px;
				background-color: white ;
				border-bottom: none;
			}
			.layui-input{
				display: inline-block;
				width: 20%;
				line-height: 38px;
				margin-left: 30px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<input type="text" class="layui-input" id="username" placeholder="输入用户查找" />
				<button class="layui-btn" id="btn" style="margin-left: 20px;"><i class="layui-icon">&#xe615;</i>搜索</button>
				<button class="layui-btn" style="margin-left: 20px;" onclick="window.location.href='./new/newUser.html'"><i class="layui-icon">&#xe654;</i>新增用户</button>
			</div>
			<div class="body">
				<table id="userTable" lay-filter="demo"></table>
				<script type="text/html" id="barDemo">
					<a class="layui-btn layui-btn-xs" lay-event="detail">授予角色</a>
				  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
				  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
				</script>
			</div>
		</div>
		<script src="../js/jquery-3.3.1.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../layui/layui.js"></script>
		<script>
			
			layui.use(['element', 'table', 'layer','form'], function() {
				var element = layui.element;
				var table = layui.table;
				var layer = layui.layer;
				var form = layui.form;

				table.render({
					elem: '#userTable',
					url: app.serverUrl+'/api/v1/user/users',
					cols: [
						[
                            {field: 'id',title: 'id',width: '5%'},
							{field: 'username',title: '用户名',width: '10%'},
							{field: 'phone',title: '联系方式',width: '10%'},
							/*{field: 'avatarurl',title: '头像',width: '10%'},*/
							{field: 'address',title: '地址',width: '25%'},
							{field: 'job',title: '职位',width: '10%'},
                            {field: 'email',title: '电子邮件',width: '15%'},
                            {field: 'status',title: '状态',width: '5%'},
							{title: '操作',align: 'center',toolbar: '#barDemo',width: '20%'}
						]
					],
					page: true,
					limit: 20,
					parseData: function(res) {
						//console.log(res);
						return {
							"code": res.status,
							"msg": res.msg,
							"count": res.data.total,
							"data": res.data.list
						};
					},
					response: {
						statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
					},
					request: {
						pageName: 'pageNum',
						limitName: 'pageSize'
					}
				});
				//监听工具条
				table.on('tool(demo)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
					var data = obj.data; //获得当前行数据
					var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
					var tr = obj.tr; //获得当前行 tr 的DOM对象

					if (layEvent === 'detail') {
						//console.log(data.id);
						sessionStorage.setItem('uid', data.id);
						layer.open({
							type: 2,
							shade: 0.2,
							title: ['当前用户：' + data.username],
							area: ['60%', '80%'],
							content: './give/charGiving.html' 
						});
					} else if (layEvent === 'del') { //删除
						layer.confirm('确认删除用户：'+data.username+'?', {title:'提示'},function(index) {
							obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
							layer.close(index);
							//console.log(data);
							$.ajax({
								url: app.serverUrl+'/api/v1/user/user/'+data.id,
								type: 'POST',
								data:{_method:"DELETE",ids:data.id},
								success:function(res){
									//console.log(res);
								},
								error:function(res){
									console.log(res);
								}
							})
							//向服务端发送删除指令
						});
					} else if (layEvent === 'edit') { //编辑
						//do something
						//console.log(data.id);
						sessionStorage.setItem('id', data.id);
						layer.open({
							type: 2,
							shade: 0.2,
							title: ['当前用户：' + data.username],
							area: ['50%', '90%'],
							content: './edit/editUser.html',
                            cancel:function (index,layero) {

                                window.location.replace("userSetting.html");
                            }
						});
					}
				});
			});
			$("#btn")[0].addEventListener('click',function(){
				var username=$("#username").val();
				var _url=app.serverUrl+'/api/v1/user/user/searchByUserName?username='+username;
				//console.log(_url);
				layui.use('table',function(){
					var table = layui.table;
					table.render({
						elem: '#userTable',
						url: _url,
						cols: [
							[{field: 'username',title: '用户名',width: '20%'},
								{field: 'id',title: 'id',width: '20%'},
								{field: 'status',title: '状态',width: '20%'},
								{field: 'createdate',title: '注册时间',width: '20%'},
								{title: '操作',align: 'center',toolbar: '#barDemo',width: '20%'}
							]
						],
						page: true,
						limit: 20,
						parseData: function(res) {
							//console.log(JSON.stringify(res));
							return {
								"code": res.status,
								"msg": res.msg,
								"count": res.data.total,
								"data": res.data.list
							};
						},
						response: {
							statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
						},
						request: {
							pageName: 'pageNum',
							limitName: 'pageSize'
						}
					});
				})
			})
		</script>

	</body>
</html>
