<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beidou.server.dao.CarMapper">
  <resultMap id="BaseResultMap" type="com.beidou.server.entity.Car">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="car_id" jdbcType="VARCHAR" property="carId" />
    <result column="car_name" jdbcType="VARCHAR" property="carName" />
    <result column="car_type_id" jdbcType="VARCHAR" property="carTypeId" />
    <result column="car_num" jdbcType="VARCHAR" property="carNum" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="com_id" jdbcType="INTEGER" property="comId" />
    <result column="sim_no" jdbcType="VARCHAR" property="simNo" />
    <result column="car_status" jdbcType="INTEGER" property="carStatus" />
    <result column="car_last_position" jdbcType="VARCHAR" property="carLastPosition" />
    <result column="last_stop_time" jdbcType="TIMESTAMP" property="lastStopTime" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="display_icon" jdbcType="VARCHAR" property="displayIcon" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>