*{
    margin: 0;
    padding: 0;
}
body{
    background:#393D49;
}
.container{
    width: 350px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -160px;
}
.title{
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 35px;
}
.footer{
    width: 280px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #777777;
    font-size: 12px;
    margin: 0 auto;
}
footer{
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
}
.code{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 230px;
}