<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beidou.user.dao.DeptMapper">
  <resultMap id="BaseResultMap" type="com.beidou.user.entity.Dept">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="createDate" jdbcType="VARCHAR" property="createdate" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="modifyDate" jdbcType="VARCHAR" property="modifydate" />
    <result column="comId" jdbcType="INTEGER" property="comid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, createDate, description, modifyDate, comId
  </sql>
  <sql id="Base_Column_List_ByComId">
    d.id, d.name, d.createDate, d.description, d.modifyDate, d.comId
  </sql>
  <select id="selectByExample" parameterType="com.beidou.user.entity.DeptExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_dept
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_dept
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="searchByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_dept
    where locate(#{name,jdbcType=VARCHAR},name)
  </select>
  <select id="searchByNameAndComId"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_dept
    where locate(#{name},name) and comId= #{comId}
  </select>
  <select id="selectByComId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List_ByComId" />
    from tb_dept d,tb_company c
    where d.comId=c.id and d.comId= #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_dept
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.beidou.user.entity.DeptExample">
    delete from tb_dept
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.beidou.user.entity.Dept">
    insert into tb_dept (id, name, createDate, 
      description, modifyDate, comId
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{createdate,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{modifydate,jdbcType=VARCHAR}, #{comid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.beidou.user.entity.Dept">
    insert into tb_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="modifydate != null">
        modifyDate,
      </if>
      <if test="comid != null">
        comId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null">
        #{modifydate,jdbcType=VARCHAR},
      </if>
      <if test="comid != null">
        #{comid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.beidou.user.entity.DeptExample" resultType="java.lang.Long">
    select count(*) from tb_dept
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_dept
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null">
        createDate = #{record.createdate,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.modifydate != null">
        modifyDate = #{record.modifydate,jdbcType=VARCHAR},
      </if>
      <if test="record.comid != null">
        comId = #{record.comid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_dept
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      createDate = #{record.createdate,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      modifyDate = #{record.modifydate,jdbcType=VARCHAR},
      comId = #{record.comid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.beidou.user.entity.Dept">
    update tb_dept
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null">
        modifyDate = #{modifydate,jdbcType=VARCHAR},
      </if>
      <if test="comid != null">
        comId = #{comid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beidou.user.entity.Dept">
    update tb_dept
    set name = #{name,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      modifyDate = #{modifydate,jdbcType=VARCHAR},
      comId = #{comid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>