<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>401</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/css/admin.css" media="all">
</head>
<body>


<div class="layui-fluid">
  <div class="layadmin-tips">
    <i class="layui-icon" face>&#xe702;</i>
    <div class="layui-text">
			<h1 style="font-size: 40px;">未授权</h1>
    </div>
  </div>
</div>

  <script src="/layui/layui.js"></script>

</body>
</html>