nav.top{
    font-size: 15px;
    font-family: Arial;
}

nav.top{
    background-color: #f2f2f2;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom:1px solid  #e7e7e7;
}
nav.top span, nav.top a{
    color: #999;
    margin: 0px 10px 0px 10px;
}
.menu{
	height: 700px;
	width: 10%;
	border: 1px solid;
	float: left;
}
